html,
body,
header {
    height: 100%;
}

.gallery img {
    cursor: pointer;
    width: 100%;
}

.gallery img:hover {
    border: 8px solid black;
}

.gallery-info {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

iframe {
    width: 426px !important;
    height: 240px !important;
}

@media (max-width:500px) {
    iframe {
        width: 100% !important;
        height: 240px !important;
    }
}

.w3-modal {
    padding-top: 3rem !important;
}

.w3-modal .w3-closebtn:hover {
    color: gray;
}

.w3-modal img {
    width: 100%;
}

.welcome,
.welcome-bg,
.welcome-bg img {
    width: 100%;
    height: 100%;
}

.welcome-bg img {
    object-fit: cover;
    display: none;
}

.welcome-bg:after {
    content: '\A';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.social {
    padding-top: 3rem;
    padding-right: 3rem;
    z-index: 99;
}

.social a {
    color: lightgray;
    text-decoration: none;
}

.social a:hover {
    color: white;
}

.owl-carousel div {
    float: left;
}

.custom-row {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

footer {
    margin-top: 5rem;
    font-size: 120%;
}